<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
  </configSections>
  <connectionStrings>
      <add name="RestaurantContext" connectionString="metadata=res://*/Database.RestaurantModel.csdl|res://*/Database.RestaurantModel.ssdl|res://*/Database.RestaurantModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=.;initial catalog=Restaurant;persist security info=True;user id=sa;password=1;multipleactiveresultsets=True;application name=EntityFramework&quot;"
          providerName="System.Data.EntityClient" />
      <add name="Restaurant" connectionString="Data Source=.;Initial Catalog=Restaurant;User ID=sa;Password=1" />
      <add name="ARWEN.Properties.Settings.ConnectionString" connectionString="Data Source=.;User ID=sa;Password=1"
          providerName="System.Data.SqlClient" />
  </connectionStrings>
</configuration>